/*////////////////////////////////
///// SLIDER CSS //////////
////////////////////////////////*/

@charset "utf-8";

*{ margin:0; padding:0; }

#slider{
	box-shadow: #000 3px 10px 25px;
	max-height: 600px;
	text-align: center;
	background: #333;	
	overflow: hidden;
	position: relative;
	top: 0;
}

#slider img{
	max-width: 100%;
	display: none;
}