.sandbox{
    background-color: blueviolet;
    height: 100vh;
}
.sandbox h1{
    position: fixed;
    margin-left: 60vh;
    color:white;
    text-align: center;
    font-style: oblique;
} 
.sandbox h3{
    position:fixed;
    margin-top: 10vh;
    margin-left: 50vh;
    color:white;
    text-align: center;
    font-style: oblique;
}
.hid-element{
    visibility: hidden;
}
.visi-element{
    visibility: visible;
}

#box-animate{
    position:fixed;
    height: 50px;
    width: 400px;
    margin-top:50vh;
    margin-left: 50vh;
    background-color:white;
}
#box-colider{
    position:fixed;
    height: 50px;
    width: 400px;
    margin-top:40vh;
    margin-left: 50vh;
}
#menu{
    opacity: 0;
     transition: opacity .5s;
 }
 #menu.fadein{
       opacity: 1;
 }