<DOCTYPE html>
    <html>
        <head>
              <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        </head>
        <body>
                <nav>
                        <div class="nav-wrapper">
                          <a href="#!" class="brand-logo">Logo</a>
                          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                          <ul class="right hide-on-med-and-down">
                            <li><a href="sass.html">Sass</a></li>
                            <li><a href="badges.html">Components</a></li>
                            <li><a href="collapsible.html">Javascript</a></li>
                            <li><a href="mobile.html">Mobile</a></li>
                            <li></li>
                          </ul>
                        </div>
                      </nav>
                      <a class="waves-effect waves-light btn sidenav-trigger" data-target="slide-out">Call menu</a>
                      <ul class="sidenav" id="mobile-demo">
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">Javascript</a></li>
                        <li><a href="mobile.html">Mobile</a></li>
                        <li><a href="#" data-target="slide-out" class="sidenav-trigger">Call the menu</a></li>
                      </ul>
                <ul id="slide-out" class="sidenav">
                    <!--Menu lateral para mobile-->
                        <li><div class="user-view">
                          <div class="background">
                            <img src="images/office.jpg">
                          </div>
                          <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                          <a href="#name"><span class="white-text name">John Doe</span></a>
                          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                        </div></li>
                        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                        <li><a href="#!">Second Link</a></li>
                        <li><div class="divider"></div></li>
                        <li><a class="subheader">Subheader</a></li>
                        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                      </ul>


                      <!--Conteudo  do site agora-->
                      <div class="container">
                            <!-- Page Content goes here -->
                            <div class="carousel carousel-slider">
                                    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
                                    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
                                    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
                                    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
                                  </div>
                          </div>

                      <!--Fim do menu lateral!---->
           <!-- Compiled and minified JavaScript -->
           <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
           <script src="C:\Users\Windows 8\Nova pasta\VsCode\Python\Py.Html-2\Framework\Js\mobileScripts.js"></script>
           <script src="C:\Users\Windows 8\Nova pasta\VsCode\Python\Py.Html-2\Framework\Js\bannerAnimate.js"></script>
        </body>
        </html>